* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1400px;
  margin: auto; }

header {
  background-color: whitesmoke; }

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.6em; }

header .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px; }

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #a56ed8; }
  header a:hover {
    color: black;
    transform: scale(1.5);
    transition: all .3s ease; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Home-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#hero h1 {
  font-size: 3em; }

footer {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

footer p {
  margin: 0;
  color: #a56ed8;
  font-weight: bold; }

footer a {
  padding-right: 10px;
  padding-left: 12px;
  text-decoration: none;
  font-size: 1.5em; }
  footer a:hover {
    color: #000; }

#sobre-mi {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/papel-min.jpg");
  color: black;
  font-weight: bold;
  height: 86.5vh; }

.container img {
  width: 400px;
  padding-top: 100px; }

#sobre-mi .container {
  text-align: center;
  padding: 200px 12px;
  color: #1b004b;
  font-size: 2em; }

#sobre-mi .container h2 {
  position: static;
  padding: 1em 0 0 0; }

#sobre-mi p {
  padding: 3em 0 5em 0; }

#sobre-mi img {
  padding: 0; }

#lenguajes {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  padding: 1em; }

#lenguajes div {
  border-radius: 30px;
  background-color: #333; }

.lenguajes__titulo {
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 2.3em; }

#cv {
  background: #333; }

#cv .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container h2 {
  position: relative;
  bottom: 100px; }

.img__cv {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sobremi-min.png");
  background-size: cover;
  background-position: center center;
  height: 320px;
  width: 380px;
  border-radius: 25px; }

#formulario {
  background-color: #181818;
  color: #fff;
  padding: 0 1.5em; }

.contenedor {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.logo__form {
  text-align: center;
  font-size: 3em;
  padding: 0 0 1em 0; }

.contacto-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contacto-wrapper > * {
  padding: 1em; }

.contacto-form {
  background-color: #222222; }

.contacto-form form p {
  margin: 0;
  padding: 1em; }

.contacto-form form p {
  margin: 0;
  padding: 1em; }

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
  resize: none; }

.contacto-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contacto-form form button:hover,
.contacto-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

.contacto-info {
  background-color: #000; }

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.contacto-info ul {
  list-style: none;
  padding: 0; }

.contacto-info ul li {
  padding: .3em; }

@media (min-width: 720px) {
  header .container {
    flex-direction: row;
    justify-content: space-between; }
  header nav {
    flex-direction: row;
    padding-bottom: 0%;
    padding-right: 20px; }
  #hero h1 {
    font-size: 4em; }
  .titulo__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px; }
  #sobre-mi .container {
    display: flex;
    justify-content: space-evenly;
    padding: 200px 12px 0 12px; }
  #sobre-mi .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #sobre-mi h2 {
    margin-top: 0%; }
  #sobre-mi .img-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sobremi-min.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
    border-radius: 25px; }
  .container img {
    display: none; }
  #lenguajes {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    height: 82vh; }
  .flex__container {
    height: 90vh; }
  .form__container {
    min-width: 400px;
    flex: 1;
    text-align: start; }
  .inputs {
    display: block;
    display: flex;
    justify-content: start;
    position: relative;
    top: 220px;
    left: 30px; }
  .form__container h2 {
    position: relative;
    top: 210px;
    left: 30px; }
  #formulario {
    padding: 0 4rem;
    height: 86.5vh;
    display: flex;
    align-items: center; }
  .contacto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contacto-form form .block {
    grid-column: 1 / 3; }
  .contacto-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contacto-wrapper > * {
    padding: 2em; }
  .contacto-info h4,
  .contacto-info ul,
  .contacto-info p {
    padding: 1em;
    text-align: left; }
  .gmail {
    display: flex; } }

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container img {
    width: 90%;
    padding-top: 0%; }
  #sobre-mi .container p {
    font-size: 1em;
    padding: 2em 0 2em 0; }
  #sobre-mi .container h2 {
    position: static;
    padding: 1em 0 0 0; } }

@media screen and (min-width: 375px) and (max-width: 425px) {
  #sobre-mi .container {
    font-size: 1em;
    padding: 0%; }
  #sobre-mi .container h2 {
    position: static;
    padding: 1em 0 0 0; }
  #sobre-mi .container p {
    padding: 1em 0 3em 0; }
  .container img {
    width: 90%;
    padding-top: 0%; } }

@media screen and (max-width: 1024px) {
  #sobre-mi .container {
    font-size: 1.5em;
    padding: 0%; } }

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #sobre-mi .container {
    padding: 200px 12px 0 12px; } }
