#formulario {
    background-color: #4D3266;
    color: $base-color;
    padding: 0 1.5em;
}

.contenedor {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo__form {
    text-align: center;
    font-size: 3em;
    padding: 0 0 1em 0;
}

.contacto-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-wrapper>* {
    padding: 1em;
}

.contacto-form {
    background-color: #222222;
}

.contacto-form form p {
    margin: 0;
    padding: 1em;
}

.contacto-form {
    form {
        p {
            margin: 0;
            padding: 1em;
        }
    }
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: $base-color;
    border-bottom: 1px solid #8A2BE2;
    resize: none;
}

.contacto-form form button {
    background: #8A2BE2;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
    background: #000000;
    color: $base-color;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contacto-info {
    background-color: #000;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contacto-info {
    ul {
        list-style: none;
        padding: 0;
    }
}

.contacto-info {
    ul {
        li {
            padding: .3em;
        }
    }
}