#cv {
    background: #4D3266;
}

#cv {
    .container {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container {
    h2 {
        color: $base-color;
        font-size: 3em;
    }

    .pdf {
        text-decoration: none;
        color: $base-color;
        font-size: 2em;
        &:hover {
            color: #000;
        }
    }
}