#lenguajes {
    background-color: #4D3266;
    color: $base-color;
    text-align: center;
    padding: 1em;
}

#lenguajes {
    div {
        border-radius: 30px;
        background-color: #333;
    }
}

.lenguajes__titulo {
    text-align: center;
    background-color: #4D3266;
    color: $base-color;
    font-size: 2.3em;
}
