#lenguajes {
    background-color: rgb(30, 30, 30);
    color: $base-color;
    text-align: center;
    padding: 1em;
}

#lenguajes {
    div {
        border-radius: 30px;
        background-color: #333;
    }
}

.lenguajes__titulo {
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: blue;
    font-size: 10em;
}