#sobre-mi {
    background-color: #4D3266;
    color: black;
    font-weight: bold;
    height: 95vh;
}

.container {
    .sobremi_img {
        width: 400px;
        padding-top: 100px;
    }
}

#sobre-mi {
    .container {
        text-align: center;
        padding: 200px 12px;
        color: $base-color;
        font-size: 2em;
    }
}

#sobre-mi {
    .container {
        h2 {
            position: static;
            padding: 1em 0 0 0;
        }
    }

    p {
        padding: 3em 0 5em 0;
    }

    img {
        padding: 0;
    }
}